doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Список страниц
    style.
      li {
        margin-bottom: 10px;
      }
  body
    h1 Список страниц
    ul
      li
        a(href='fonts.html') Проверка шрифтов - fonts.html
      li
        a(href='pug-test.html') Проверка сборки - pug-test.html
      li
        a(href='main.html') main.html
