include ../blocks/head/head

doctype html
html(lang='en')
  +head('Zephyrs Outcome')
  body
    main
      h1.visually-hidden Zephyrs Outcome
      include ../blocks/listing-header/listing-header
      include ../blocks/listing-body/listing-body
      include ../blocks/footer/footer

    include ../blocks/_scripts-block/_scripts-block
