footer.footer
  div.footer__content
    p Game content and materials are trademarks and copyrights of their respective publisher and its licensors.
    p This site is not affiliated with the game publisher.
    a(href='https://github.com/Elijah-R/zephrys-outcome/issues') github: issues
