//- script(defer, src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')

//- Easy to use, flexible and responsive range slider with skin support
//- http://ionden.com/a/plugins/ion.rangeSlider/
//- script(defer, src='https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js')

//- Custom scrollbars vanilla javascript library with native scroll
//- https://github.com/Grsmto/simplebar
//- script(defer, src='https://cdnjs.cloudflare.com/ajax/libs/simplebar/4.1.0/simplebar.min.js')

//- Parsley, the ultimate JavaScript form validation library
//- https://parsleyjs.org/
//- script(defer, src='https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.1/parsley.min.js')

//- Cleave.js has a simple purpose: to help you format input text content automatically.
//- https://github.com/nosir/cleave.js
//- script(defer, src='https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.5.3/cleave.min.js')

//- Swiper - Most Modern Mobile Touch Slider
//- http://idangero.us/swiper/api/
//- script(defer, src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js')

//- Yandex.Maps
//- https://tech.yandex.com/maps/jsapi/doc/2.1/quick-start/index-docpage/
//- script(defer, src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")

//- Google Maps
//- https://developers.google.com/maps/documentation/javascript/tutorial
//- script(defer, src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY")

script(defer, src='js/main.js')
